.bidForm {
    display: block;
    text-align: center;
    height: auto;
    padding: 0;
}

.button-custom {
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #ff9041;
    background-color: #ff9041;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}