
.custom--hover {
    transition: color 0.3s ease-in-out;
    transition-delay: 30ms;
  }
  
  .custom--hover:hover {
    color: #ffffff;
  }

  .overlay-custom {
    background: #ff9041;
    background: -webkit-linear-gradient(to right, #ff2b2b, #ff9041);
    background: linear-gradient(to right, #ff2b36, #ff9a41);
    background-repeat: no-repeat;
    background-size: cover;
  }
