@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

.custom-landing-header {
    font-family: 'Montserrat', sans-serif;
}
.custom-landing-header span {
    font-family: 'Montserrat', sans-serif;
}

.landing-page section {
    height: 101vh;
}

.custom-btn {
    transition: all 0.2s ease-in-out;
    display: inline-block;
}

.custom-btn:hover {
    transform: scale(1.1);
}