@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/jmh-ss');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Quicksand', sans-serif;
  
  }

  .custom--font {
    font-family: 'JMH SS', sans-serif;
  }

  .custom--landing-font {
    font-family: 'Montserrat', sans-serif;
  }
